body {
    margin: 0;
}

header {
    display: block;
    background: #d3d3d3;
}
.header-bg {
    color: white;
    background: #bababa;
    height: 60px;
    text-align: center;
}

.btn-top {
    margin-left: 280px;
    padding: 3px;
}

.disable-carry {
    flex-wrap: nowrap
}

.link-top {
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.link-top:hover {
    color: white;
}

.drp-dwn-width {
    width: 254px;
    font-size: 1em;
}

.text-field {
    width: 254px;
}

.border {
    border: 1px dashed #000;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}

.audiowide {
    font-family: 'Audiowide', cursive;
}

.result-box {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    flex-wrap: wrap;
    border: 1px dashed #000;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;

    vertical-align: middle;
    text-align: center;
}

.form-item {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display:flex;
}

.left-vertical{
    min-height: 10em;
    vertical-align: middle;
    text-align: left;
}

.item {;
    min-height: 10em;
    vertical-align: middle;
    text-align: center;
}

.select {
    width: 22%;
    height: 5%;
    border: solid 1px black;
    border-radius: 2px;
    background: #efefef;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}